<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../views/assets/styles/" />
  </head>
  <body class="bg-gray-100 font-sans">
    <%- include('partials/header.ejs') %>
    <main class="max-w-6xl mx-auto px-4 py-10">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="col-span-2">
          <%- include('partials/post.ejs', { posts: posts }) %> <%-
          include('partials/pagination.ejs', { page: page, totalPages:
          totalPages }) %>
        </div>
        <aside class="space-y-6">
          <%- include('partials/authors.ejs', { authors: authors }) %> <%-
          include('partials/category.ejs', { categories: categories }) %>
        </aside>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
